select{
	border: none;
	outline: none;
	height: 30px;
}
input[type="text"], input[type="password"],textarea{
	/* border: none; */
	border: 1px #f1f1f1 solid!important;
	border-radius: 5px;
	outline: none;
	height: 30px;
	-webkit-appearance: none;
}
div.suggest_frame_inner input[type="text"]{
	border: none!important;
	outline:none;
}
input[type="radio"], input[type="checkbox"]{
	outline: none;
}
textarea.infoplus_textareaControl{
	border: none;
	outline: none;
}

/*select*/
.infoplus_control.infoplus_selectControl{
	-webkit-appearance: none;
    border: 0;
    outline: 0;
    width: 100%;
    position: relative;
    background:url(../img/right_jiantou.png) right center no-repeat!important;
    background-color: transparent;
}
/*suggest*/
div.suggest_button {
    background: url(../img/suggest.png) no-repeat center!important;
    height: 20px;
    width: 20px;
}
span.select2-selection__arrow.user{
	background: url(../img/suggest.png) no-repeat center!important;
}
.suggest_frame_inner .infoplus_control{
	border: none;
}
.select2-container--default .select2-selection--single{
	border: none;
}
/*单选框*/
input[type="checkbox"].infoplus_readonly, input[type="radio"].infoplus_readonly{
	background-color: initial;
}


label.infoplus_radioLabel{
	float: left;
	width:calc(100% - 22px);
}
.infoplus_radioControl{
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 22px;
    float: right;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    background: url(../img/gou_noCheck.png) no-repeat right center;
}
.infoplus_radioControl.checked{
	background: url(../img/gou.png) no-repeat right center;
}



/*多选框*/
.infoplus_checkControl{
	appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: url(../img/chb.png) no-repeat right center;
    margin-bottom: -2px;
    margin-right: 10px;
    border: none;
}
.infoplus_checkControl.checked{
	background: url(../img/chb_checked.png) no-repeat right center;
}
/*switch*/
.infoplus_switchControl{
	float: right;
}
.infoplus_switchControl.checked {
    background-color: #5AB531!important;
    border: 1px solid #5AB531!important;
}
/*按钮*/
.infoplus_buttonControlContainer button.infoplus_buttonControl{
	background:#5AB531;
	color: #fff!important;
	padding: 6px 10px;
}
/*链接*/
.infoplus_control.infoplus_anchorControl{
	color: #5AB531!important;
}
/*日期控件*/
input.infoplus_dateControl[type=date]{
	background-image: url(../img/date.png);
}
/*时间控件*/
input.infoplus_timeControl[type=time] {
    background-image: url(../img/time.png);
}
/*备注*/
div.infoplus_remarkControl{
	float: right;
}
/*帮助*/
div.infoplus_helpControl{
	float: right;
	background: url(../img/help.png) no-repeat center;
}

.tipsy-inner {
    box-shadow: 0 0 6px #ddd;
    -webkit-box-shadow: 0 0 6px #ddd;
    -moz-box-shadow: 0 0 6px #ddd;
    background: rgba(237,148,107,.8);
	color: #fff;
}
.tipsy-e .tipsy-arrow {
    background: url(../img/ico_tipsy_arrow_e.png) no-repeat scroll right center transparent;
}
/*remark*/
div.infoplus_remarkControl_has_value {
    background-image: url(../img/ico_remark.png);
    background-size: contain;
}
div.infoplus_remarkControl_no_value {
    background-image: url(../img/ico_remark_novalue.png);
    background-size: contain;
}
/*物品*/
div.infoplus_thingControl_inputNameDiv{
	float: right;
	background-image: url(../img/ico_thing.png);
    background-size: 100% 100%;
}
/*附件上传*/
div.infoplus_fileControl .uploadSuccess {
    color: #84CC3D;
}
div.infoplus_fileControl .display {
    background: none;
    border: 1px solid #ddd;
}
div.infoplus_fileControl .display .infoplus_fileControl_link{
	color: #747474;
}
div.infoplus_fileControl .uploadFileButton span, div.infoplus_docControl .uploadFileButton span{
	/*display: none;*/
}
div.infoplus_fileControl .uploadFileButton, div.infoplus_docControl .uploadFileButton{
	height: 25px;
    background:url(../img/add_image.png) no-repeat left;
    padding-left: 30px;
    background-size: 25px;
}
/*重复表重复节*/
div.infoplus_addLinkDiv {
	margin-left: 0px;
	padding-left: 0px;
    background: url(../img/menu_add.png) no-repeat left center;
    /*transition: 0.1s;*/
}
div.infoplus_addLinkDiv a{
	color: #5AB531;
}
.infoplus_repeatParentElement .infoplus_popupMenu {
    background: #EDF3FA;
    /*width: 100%!important;
    left: 0px!important;*/
    text-align: center;
    opacity:1; 
    border: 1px solid #d8d8d8;
}
.infoplus_menuItem{
	padding-left: 6px;
}
.infoplus_menuItem.infoplus_menuDelete{
	color: red;
	background: url(../img/menu_delete.png) no-repeat left center;
}
.infoplus_menuItem.infoplus_menuAdd{
	color: #5AB531;
	background: url(../img/menu_add.png) no-repeat left center;
}
.infoplus_menuItem.infoplus_menuUp{
	color: #5AB531;
	background: url(../img/menu_up.png) no-repeat left center;
}
.infoplus_menuItem.infoplus_menuDown{
	color: #5AB531;
	background: url(../img/menu_down.png) no-repeat left center;
}

/*图片上传*/
div.infoplus_pictureControl .uploadDiv{
	height: 70px!important;
	width: 70px!important;
	border: none;
	background: linear-gradient(transparent,transparent),url(../img/add_image.png) no-repeat center; 
}
.infoplus_imageControl{
	width: 70px;
}
.infoplus_imageControl .infoplus_imageControl_image{
	height: auto!important;
	width: 100%!important;
}

/*底部按钮*/
.btnContainer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	font-family: "微软雅黑";
	border-top: 1px #eee solid;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 8px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 8px 0 rgba(0,0,0,0.2);
}
.toolGroup{
	width: 120px;
	position: absolute;
	left: 0px;
	height: 100%;
	background: #fff;
}
.toolGroup li{
	width: 50%;
	height: 100%;
	float: left;
	padding-top: 3px;
	list-style: none;
}
.tool_icon_guide{
	height: 23px;
	background: url(../img/guide_img.png) no-repeat center;
	background-size: contain;
}
.tool_guide_li.hide .tool_icon_guide{
	background: url(../img/guide_img_hide.png) no-repeat center;
	background-size: contain;
}
.tool_icon_save{
	height: 23px;
	background: url(../img/save_img.png) no-repeat center;
	background-size: contain;
}
.tool_save_li.hide .tool_icon_save{
	background: url(../img/save_img_hide.png) no-repeat center;
	background-size: contain;
}
.tool_save_li.hide p{
	color: #ccc;
}
.tool_guide_li.hide p{
	color: #ccc;
}
.toolGroup li p{
	font-size: 12px;
	text-align: center;
}
.buttonGroup{
	padding-left: 120px;
	height: 45px;
	background: #fff;
}
.buttonGroup li{
	float: right;
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	list-style: none;
}
.buttonGroup li.getMore{
	position: relative;
}
.buttonGroup li.getMore .moreBtnShow{
	position: absolute;
    bottom: 48px;
    padding: 5px;
    width: 120%;
    left: -10%;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 0px 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    display: none;
}
.buttonGroup li.getMore .moreBtnShow.show{
	display: block;
}
.buttonGroup li.twoButton{
	width: 50%;
}
.buttonGroup li.threeButton{
	width: 33.33%;
}
.buttonGroup li:nth-of-type(1){
	background: #5AB531;
}
.buttonGroup li:nth-of-type(2){
	background: #7ACB56;
}
.buttonGroup li:nth-of-type(3){
	background: #A5DB8D;
}
.moreBtnShow span{
	color: #000000;
	width: 100%;
	text-align: left;
	display: block;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px #cdcdcd solid;
	font-size: 14px;
	padding-left: 5px;
}
.moreBtnShow span:last-child{
	border: none;
}
#master_footer{
	display: none;
}

/*头部*/
.header_title{
	height: 45px;
	width: 100%;
	background: #5AB531;
	color: #fff;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    font-family: "微软雅黑";
    position: fixed;
    top: 0px;
    z-index: 1;
}
.header_title span.toLeft{
	float: left;
	width: 45px;
	height: 45px;
	background: url(../img/toLeft.png) center no-repeat;
}
.header_title span.toRightTool{
	float: right;
	width: 45px;
	height: 45px;
	background: url(../img/rightTool.png) center no-repeat;
}
.header_title_01{
	height: 45px;
	width: 100%;
	background: #5AB531;
	color: #fff;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    font-family: "微软雅黑";
}
.header_title_01 span.toLeft{
	float: left;
	width: 45px;
	height: 45px;
	background: url(../img/toLeft.png) center no-repeat;
}
/* 头部消息不显示问题修改 */
#title_holder{
	display: none;
}
.xdTitleRow{
	display: none;
}

#renderContent_holder{
	padding-top: 45px;
}
div.form_milestone_holder{
	display: none!important;
}
.heade_title_content{
	box-sizing: border-box;
	height: 45px;
	line-height: 45px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	/* padding-right: 45px; */
}
.header_title_01 .heade_title_content{
	padding-right: 45px;
}

/*rightTool*/
.rightTool{
	width: 78%;
	right: -78%;
	height: 100%;
	background: #fff;
	position: fixed;
	/*overflow-y: auto;*/
    z-index: 3;
    transition: 0.3s;
    margin-right: -1px;
    overflow: auto;
}
.rightTool.rightShow{
	right: 0px;
	font-family: "微软雅黑";
}
.mask{
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 2;
    display: none;
}
.mask.maskShow{
	display: block;
}


/*滑出的图*/
 .process_tu{
 	overflow: hidden;
 	padding-top: 30px;
 	/*float: left;*/
 	width: 100%;
 }
.process_tu_left{
	width: 20px;
	float: left;
	margin: 0 30px;
}
.process_tu_left li{
	list-style: none;
}
.process_tu_right{
	float: left;
}
.process_tu_right li{
	height: 58px;
	text-align: left;
	list-style: none;
	color:#354d3f;
}
.process_tu_right li.process_finished{
	/* color: #f3951c; */
}
.process_tu_right li.process_current{
	color: #5AB531;
}
.process_tu .process_circle{
	width: 20px;
	height: 20px;
	background:#c9c9c9;
	border-radius: 50%;
	position: relative;
}
.process_tu .process_circle span.active{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	left: 50%;
	margin-left: -6px;
	background: #5AB531;
}
.process_tu .process_xian{
	width: 6px;
	height: 40px;
	background: #c9c9c9;
	position: relative;
	left: 7px;
}
.process_tu .process_xian span.active{
	height: 48px;
	width: 2px;
	left: 2px;
	position: absolute;
	top: -4px;
	z-index: 2;
	background: #5AB531;
}
.processTitle{
	height: 40px;
	background: #f9f9f9;
	border-top: 1px #e3e3e3 solid;
	border-bottom: 1px #e3e3e3 solid;
	padding: 0 8px;
	line-height: 40px;
}
.processTitle a{
	color: #354d3f;
}
.processTitle p{
	float: left;
	color: #354d3f;
}
.processTitle span{
	float: right;
	color: #354d3f;
}

.menuGroupUl{
	overflow: hidden;
	padding: 20px 0px 0px 10px;
}
.menuGroupUl li{
	float: left;
	text-align: center;
	margin: 0 5px;
	list-style: none;
	margin-bottom: 10px;
}
span.menu_text{
	display: block;
	margin-top: 3px;
	color: #555;
}

span.menu_icon i{
	font-size: 20px;
}

span.menu_icon i.i-icon-save,span.menu_icon i.i-icon-help{
	color: #eeac3e;
}
span.menu_icon i.i-icon-history,span.menu_icon i.i-icon-replay,span.menu_icon i.i-icon-cloud-download{
	color: #5AB531;
}
span.menu_icon.disabled i{
	color: #E3E3E3;
}


.approvalHistoryContainer{
	height: 100%;
	width: 100%;
	background: #fff;
	right: -100%;
	transition: 0.3s;
	position: fixed;
	top: 0px;
	z-index: 100;
	overflow: auto;
}
.approvalHistoryContainer.rightShow{
	right: 0px;
}
.approvalList_container{
	overflow: auto;
	height: calc(100% - 45px);
}
.approvalList{
	background: #f9f9f9;
	border-top: 1px #d7d7d7 solid;
	overflow: hidden;
	
}
.approvalList li{
	position: relative;
	padding-left: 60px;
	/*padding-bottom: 5px;*/
}
.approval_icon_outer{
	position: absolute;
	top: 0px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #c9c9c9;
	left: 23px;
	top: 10px;
}
.approval_icon_outer span{
	position: absolute;
	left: 4px;
	top: 4px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #5AB531;
}
.approval_icon_xian{
	width: 6px;
	height: 100%;
	background: #C9C9C9;
	position: absolute;
	left: 30px;
	top: 10px;
}
.approvalList p{
	font-size: 14px;
	color: #333;
	font-weight: bold;
	margin-top: 10px;
}
.approvalList p.handle_status{
	font-size: 14px;
	color: #333;
}
.approvalList p.handle_status a{
	color: #333;
}
.approval_text{
	background: #fff;
	border: 1px #d7d7d7 solid;
	border-top: 0px;
	border-right: 0px;
	padding: 2px 10px 10px;
}
.approvalHistoryClick{
	float: right;
	padding: 0 20px;
}
div.form_remark_holder{
	display: none!important;
	height: 0px;
	/*visibility: hidden;*/
}

/*设置宽度自适应*/
table{
	width: 100%!important;
}
div.infoplus_view{
	padding:0px!important;
}
.xdTableContentRow .xdTableContentCell{
	padding: 0px!important;
}


div.infoplus_view_label {
    padding: 8px 20px;
    FONT-SIZE: 14px;
    font-family: 'PingFang SC',微软雅黑;
    font-weight: normal;
    color:#999;
    background: #f8f8f8;
    border-color: #ddd;
}
#render_holder{
	padding-bottom: 20px;
}

.i-icon-angle-double-up{
	height: 19px;
	width: 19px;
	display: inline-block;
	background: url(../img/label_up.png) center no-repeat;
	background-size: contain;
}
.i-icon-angle-double-up:before {
    content: "";
}

.i-icon-angle-double-down{
	height: 19px;
	width: 19px;
	display: inline-block;
	background: url(../img/label_down.png) center no-repeat;
	background-size: contain;
}
.i-icon-angle-double-down:before {
    content: "";
}
div.infoplus_fileControl .uploadFileButton span, div.infoplus_docControl .uploadFileButton span{
	color: #5AB531;
}

.mobile_page_title_div{
	background:#5AB531;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5AB531;
    color: white;
}
#form_holder table td{
	border-width: 1px!important;
	border-color: #f1f1f1!important;
}

#div_loader_content{
	display: none;
}
#div_loader_content.show{
	display: block;
}
#div_loader_progress{
	overflow: initial!important;
	opacity: 1!important;
	height: 15px!important;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfcAAAAPCAYAAAD5w4bnAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyFpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNS1jMDE0IDc5LjE1MTQ4MSwgMjAxMy8wMy8xMy0xMjowOToxNSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpCRjYzRTJDN0JFQkQxMUVBQkMzN0QzNTA1QUIwQTYyOCIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpCRjYzRTJDOEJFQkQxMUVBQkMzN0QzNTA1QUIwQTYyOCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOkJGNjNFMkM1QkVCRDExRUFCQzM3RDM1MDVBQjBBNjI4IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOkJGNjNFMkM2QkVCRDExRUFCQzM3RDM1MDVBQjBBNjI4Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+QSH4eAAABw5JREFUeNrsnV+S3DQQxrvlzR9YeMgD16AKjpEjwPlyBHjhncdUcYxU8UgISbAaG3YLR9vd3ydrSJZEXaWaGY8tyV5bv+6vpVk1M9nt+x+/lWnT3oPpVqx5RfuPfI/204E6R/qkF2wP1aEXOGdLPht5jHTsZ+C9kcdbZ1+mTfvf2bOnz+9su5qXZRoBDW0AoMF32fdnQcNCizmGqUsDR+QsiM/05dKOjA5eNxsEaw/sozYseJ/B3zuu3nyuSb2s8zJt2r21CfePG8oRvLz3Bbwvh/2PJdoug+DXDjCxdTH1Kth/RCnQwahdD7BRBzrZtYna1qQNFq5ygKYQENbkHCwAcz20YQc4e8e0pZLvpWmDcSgiJ2I6DdMm3KdBCETg7N1WnPftNq8szWtUItiXpI+aqAUsiPSEs3AETHtcCdpWAGPrcBpGovEscu11tKJ+eXCvCbAi6LX7KNGOB+Z6KAjg7XHt8XtZnTqj+o+OBHIUKuhXVHquI7oHkKIybcJ9WieAUcSEvjuCcWmAWQjAenBt64jq08Pn2/aPUF8SyLefhYzu1YlGmWvZRoGMWoFgqolzURIFIhpUGaVCEjgbgLslA7sS9xsL9wxE6NWAIySJAyEBdD0ASwBXcUDbgt06nYfIWWBK2/816AOrQrDKBdoPKQ5ozsNZRWI6Gx853NGgz0i8LDyFlF4jUGTRZwHRLwO7I1ivGmguzfYlaEOCeo+AihyCJTmHqE1vmzhteefNXH/vnCwBvBAwjWTu6J4swXcoetJGDWAHt+h82gG0AgcBqT/v7GubvXn9VtZ1lWVZ5OGjB6KqFTgUkTTfA/cIOJIAsQaOQAYoz1FgwCmBMxBBfgWKQwT+NVEBhOyjgXaj/hvp6FTS2WPhjRQgIe8jz/kS4AT3OJ/ScW+PzrPJzt3jyT4hvtyw4c+tvHr29Pkb/e6Hb55sH77eypdbeUDA8ziAFzAoezLwQkahJRmIStJWISKvQkaIRkrF6oAsAlsWJbbXaAGRu3e+5gzwhRjsvWtYOqNvFtIIYiiqFgLuvQ+UEArAx6A0hfb6jzfy8reX8nYD/IMN7NdfXMujxw/RYMcOmBY4KUw9PSoCexyS3736PGDUAJy1U5r3jpcA4BlMM8AzEK/AMcjmOuhJ5xU5ZAiqt46RV5DSwcBbCZVJO8c2BUpZ1I+lUVtvbd92vZUXW/lpf91Jvz+9X23lyc37CEaaRKIox8tEeyWAmoJIH0WIQkAqgp0RkWQkqxfQXgmclui6MZBl1BGkcjDqhg7Ceto9tD1i38H++8tX8vn++bN1XhTe2Ny4yLkcOus8IUUkUn8Y6b4SYNSkn1mKyjrPVZ1+R2kQIdINvc6xJeOsdaqSXv9U7k5SbVOnbZ17gP7LVn7+e8MF17kr8cfUjoixyLm8tQ5G7p6EmrWL5Pglieq1UUFa+XsJyhWI4CNVILrOC0ghiLP/4jhhxTlmaV4VpGSQzO4pK+o88GiQKYNpIk8uNyJdhAYK60grjD6b75ybE7lbELn3Sqm9cigzyWwlAZbluFtJP4KskrL8SkbtFUTsSEEQJ1qO1ABWYvdgyM55UHAfH6+j9wwjyFoC97ava3LOTNSOniED0T161tE4l/XTS4/e1rMz4fFWfr0B/ItL5tzv++zMaFDWE4Ni9JrNFM8cG0mUjQj03mS44qRN0HyAaKJclIvX5jgk33uOgyTXTIBaEzlf6OE3MMAIka7Ilo0ZCdLseAP3WnReZ1MP71z7Pccucq17xL4si/3z+Q5ovGjJAMwrgJSAaNODPDt4oxzysX8VSP4oPx5JwRkcPdk8mhTILP+rCeRZJwOtQIiWDvY6ckKoFZZE7pFKwdyTNsi3Mzn3HjUzqr8kyvXVzbnvOff6Kc2Wt44b6n07GkKqEEjyZ9aio+Vu7FwID9qZArMQ56XAaWpvcBEuP24d3nPP+v0oSolWAESqRQsZAVKeJY4Me//dSb3ttkXqnvNQg2tageQrkufIEeAFRNrRBLMoiotk28gBkAC43iz3VfgcN8rFR1JytBY/c2yiV2Z1Q+8s+WkfyOYv1N1fR+PMQ9L74y4RLJnJcz0T7NB2L02S5f+jNAqawHLm1+jQWvxC/k0Q3Bl5PvubZo4F27/I+9cEygjaaB28dTwDPUu5sgh2PcCXiaKZ5WRV8lw06rcAh6f3/QTttAn3T0CJGFUSmDkOGWTRfAZ29nwG4OjHZ3rlMNR2IeB6tr0RJ+SsOoSusfdbAq0EykKbnemM7mFmQhQD/zM/JoMmxfXIyRO80ybcp31QR2FEQWDgNRphnwXlmf6Nrlc9C/Mz343MH8n2YdYCM/Ite2+xEX3WDyZqFpn/XGbahPu0af+JY3Bfrf29gEvUd4l9Ro65RB/O/OiHDd5XKlyOXiecp0371/4SYAAvUP3Lyv/88QAAAABJRU5ErkJggg==) no-repeat;
	background-size: contain;
}
#div_loader_progress_percent{
	left: 0px;
	right: auto!important;
	height: 10px;
	width: 10px;
	background:#5AB531;
	border-radius: 50%;
}
.percent_span{
	position: relative;
	top: -20px;
	color:#5AB531;
}
#div_loader_text{
	display: none;
}
.waiting{
	position: relative;
    top: -55px;
    color: #5AB531;
    left: -30px;
    font-size: 12px;
    width: 80px;
    display: block;
}

/*头部消息不显示问题*/
#header_holder{
	/* display: none; */
	top:0px!important;
}
#command_holder{
	height: 0px;
}
#form_command_bar{
	height:0px;
}

.commandBar_helper.top.show{
	position:fixed;
}
#command_holder li.command_button{
	display: none;
}
#form_command_bar li.no_action{
	display:none;
}
#command_holder li.tool_button{
	display:none;
}
#command_bar_title_icon{
	display:none!important;
}

/* 解决横屏时colspan属性大于1的表格的文字大小变化 */
@media screen and (max-device-width: 320px){body{-webkit-text-size-adjust:none}}
@media screen and (max-device-width: 480px){body{-webkit-text-size-adjust:none}}
@media only screen and (-webkit-min-device-pixel-ratio: 2){body{-webkit-text-size-adjust:none}}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){body{-webkit-text-size-adjust:none}}